*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
     margin: 0 auto;
    padding: 2rem;
    /* display: flexbox;
    flex-direction: column;
    align-items: center;
    justify-content: center; */
}
/* img{
    width: 100px;
    height: 350px;
} */