.search_form {
    min-height: 12vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 3rem;
  
  }
  .search_bar {
    min-width: 50vh;
    padding: 10px;
    border: solid 2px cornflowerblue;
    border-radius: 25px;
  }
.clear_btn{
  border: none;
  color: white;
  text-align: center;
  position: relative;
  background-image: linear-gradient(135deg, #3d90e9, #4260e3 150%);
  text-align: center;
  padding: 0.6rem 0.5rem;
  cursor: pointer;
  border-radius: 25px;
  margin-left: 0.5rem;
}
input{
  border: none;
  min-width: 45vh;
}
textarea:focus, input:focus{
  outline: none;
}

span{
  /* position: absolute; */
  padding: 0;
  min-width: 50px;
  text-align: center;
}