@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oleo+Script+Swash+Caps&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Metal&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Lato", sans-serif;
 
}
main {
  min-height: 85vh;
}
.home_title{
  margin: 3rem auto;
  text-align: center;
  color: rgb(80, 135, 237); 
  font-family: 'Metal', cursive;
}
.home_image{
    margin: 0 auto;
    width: 65%;
}
footer {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 5vh;
  background-color: rgb(48, 48, 48);
  color: white;
}
